html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

h1 {
  text-align: center;
}

input {
  width: 85%;
}
 
ul {
  padding-left: 10px;
  list-style: none;

}

li {
  padding-bottom: 4px;
}

#container {
  width: 25%;
  float: left;
  color: white;
}

#map {
  width: 75%;
  height: 100%;
  float: right;
}

#photo {
  text-align: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 549px) {
  #container {
  width: 30%;
  font-size: 0.8em;
}
#map {
  width: 70%;
}
}
     